# Google OAuth
GOOGLE_CLIENT_ID=tu_client_id_aqui
GOOGLE_CLIENT_SECRET=tu_client_secret_aqui

# Flask
SECRET_KEY=clave_super_secreta

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sanvicentino
DB_USER=usuario_app
DB_PASSWORD=password_app
